<!doctype html>
<head>
    <title>GPT2 - Foundational Model Sample</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            
            <form method="post" action="{{url_for('gpt2')}}">
              <div class="col-md-6 mx-auto text-center">
                <label for="gpt2deployment" class="form-label fw-bold fs-5">Endpoint deployment slot:</label>
                <select name="gpt2deployment" id="gpt2deployment">
                  <option selected value="none"> (none)</option>
                  <!-- <option value="gpt2-3">green</option> -->
                  {% for d in deployments %}
                    <option value="{{ d }}">{{ d }}</option>
                  {% endfor %}
                </select>
                
                <label for="name" class="form-label fw-bold fs-5">Prompt:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <!-- multiline text input -->
                  <textarea class="form-control" id="gpt2textinput" name="gpt2textinput" rows="5" style="max-width: 600px;"></textarea>
                  <!-- <input type="text" class="form-control" id="gpt2textinput" name="gpt2textinput" style="max-width: 256px;"> -->
                </div>
              </div>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Text Completion with GPT2</button>
              </div>
            </form>
            
            
            <label class="display-6">ML Endpoint Response:</label>

            <!-- readonly multi-line text input -->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <textarea class="form-control" id="gpt2textoutput" name="gpt2textoutput" rows="5" style="max-width: 600px;" readonly>{{result.response}}</textarea>
            </div>


            <p class="fs-8">
              (Selected slot: {{deployment}}, Request routed to: {{result.deployment}})
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
     </main>
   </body>
</html>